<?xml version="1.0"?>
<config>
    <modules>
        <JR_Search>
            <version>0.1.0</version>
        </JR_Search>
    </modules>
    <global>
        <models>
            <jr_search>
                <class>JR_Search_Model</class>
                <resourceModel>jr_search_resource</resourceModel>
            </jr_search>
            <jr_search_resource>
                <class>JR_Search_Model_Resource</class>
            </jr_search_resource>
        </models>
        <helpers>
            <jr_search>
                <class>JR_Search_Helper</class>
            </jr_search>
        </helpers>
        <blocks>
            <jr_search>
                <class>JR_Search_Block</class>
            </jr_search>
            <catalog>
                <rewrite>
                    <layer_view>JR_Search_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>JR_Search_Block_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </blocks>
        <resources>
            <jr_search_setup>
                <setup>
                    <module>JR_Search</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </jr_search_setup>
        </resources>
        <events>
            <catalogsearch_index_process_start>
                <observers>
                    <jr_search>
                        <class>jr_search/observer</class>
                        <method>beforeIndexProcessStart</method>
                    </jr_search>
                </observers>
            </catalogsearch_index_process_start>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <jr_search before="Mage_Adminhtml">JR_Search_Adminhtml</jr_search>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <jr_search>
                        <class>jr_search/observer</class>
                        <method>eavAttributeEditFormInit</method>
                    </jr_search>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <catalog_entity_attribute_save_after>
                <observers>
                    <jr_search>
                        <class>jr_search/observer</class>
                        <method>requireCatalogsearchReindex</method>
                    </jr_search>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
        <translate>
            <modules>
                <JR_Search>
                    <files>
                        <default>JR_Search.csv</default>
                    </files>
                </JR_Search>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <elasticsearch_enable_debug_mode>0</elasticsearch_enable_debug_mode>
                <elasticsearch_servers>127.0.0.1:9200</elasticsearch_servers>
                <elasticsearch_timeout>30</elasticsearch_timeout>
                <elasticsearch_index>magento</elasticsearch_index>
                <elasticsearch_number_of_shards>1</elasticsearch_number_of_shards>
                <elasticsearch_number_of_replicas>0</elasticsearch_number_of_replicas>
                <elasticsearch_facets_max_size>50</elasticsearch_facets_max_size>
                <elasticsearch_enable_icu_folding>0</elasticsearch_enable_icu_folding>
                <elasticsearch_enable_fuzzy_query>1</elasticsearch_enable_fuzzy_query>
                <elasticsearch_fuzzy_min_similarity>0.7</elasticsearch_fuzzy_min_similarity>
                <elasticsearch_fuzzy_prefix_length>0</elasticsearch_fuzzy_prefix_length>
                <elasticsearch_fuzzy_max_query_terms>10</elasticsearch_fuzzy_max_query_terms>
                <elasticsearch_fuzzy_query_boost>1.0</elasticsearch_fuzzy_query_boost>
            </search>
        </catalog>
    </default>
</config>
