<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Search>
            <version>1.0.0</version>
        </Bubble_Search>
    </modules>
    <global>
        <models>
            <bubble_search>
                <class>Bubble_Search_Model</class>
                <resourceModel>bubble_search_resource</resourceModel>
            </bubble_search>
            <bubble_search_resource>
                <class>Bubble_Search_Model_Resource</class>
            </bubble_search_resource>
        </models>
        <helpers>
            <bubble_search>
                <class>Bubble_Search_Helper</class>
            </bubble_search>
        </helpers>
        <blocks>
            <bubble_search>
                <class>Bubble_Search_Block</class>
            </bubble_search>
            <catalog>
                <rewrite>
                    <layer_view>Bubble_Search_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Bubble_Search_Block_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </blocks>
        <resources>
            <bubble_search_setup>
                <setup>
                    <module>Bubble_Search</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </bubble_search_setup>
        </resources>
        <events>
            <catalogsearch_index_process_start>
                <observers>
                    <bubble_search>
                        <class>bubble_search/observer</class>
                        <method>beforeIndexProcessStart</method>
                    </bubble_search>
                </observers>
            </catalogsearch_index_process_start>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bubble_search before="Mage_Adminhtml">Bubble_Search_Adminhtml</bubble_search>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <bubble_search>
                        <class>bubble_search/observer</class>
                        <method>eavAttributeEditFormInit</method>
                    </bubble_search>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <catalog_entity_attribute_save_after>
                <observers>
                    <bubble_search>
                        <class>bubble_search/observer</class>
                        <method>requireCatalogsearchReindex</method>
                    </bubble_search>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
        <translate>
            <modules>
                <Bubble_Search>
                    <files>
                        <default>Bubble_Search.csv</default>
                    </files>
                </Bubble_Search>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <elasticsearch_enable_debug_mode>0</elasticsearch_enable_debug_mode>
                <elasticsearch_servers>127.0.0.1:9200</elasticsearch_servers>
                <elasticsearch_timeout>30</elasticsearch_timeout>
                <elasticsearch_index>magento</elasticsearch_index>
                <elasticsearch_number_of_shards>1</elasticsearch_number_of_shards>
                <elasticsearch_number_of_replicas>0</elasticsearch_number_of_replicas>
                <elasticsearch_facets_max_size>50</elasticsearch_facets_max_size>
                <elasticsearch_enable_options_search>1</elasticsearch_enable_options_search>
                <elasticsearch_enable_icu_folding>0</elasticsearch_enable_icu_folding>
                <elasticsearch_enable_fuzzy_query>1</elasticsearch_enable_fuzzy_query>
                <elasticsearch_fuzzy_min_similarity>0.7</elasticsearch_fuzzy_min_similarity>
                <elasticsearch_fuzzy_prefix_length>0</elasticsearch_fuzzy_prefix_length>
                <elasticsearch_fuzzy_max_query_terms>10</elasticsearch_fuzzy_max_query_terms>
                <elasticsearch_fuzzy_query_boost>1.0</elasticsearch_fuzzy_query_boost>
            </search>
        </catalog>
    </default>
</config>
